/*Libraries*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*Main*/
body {
  margin: 0;
  font: 13px/1.4 Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #525252;
  background: #ffffff;
}

#wrapper {
  background: url("images/background.png") no-repeat center top;
}

a {
  color: #4c71a2;
}

a:hover {
  color: #525252;
}

h1, h2, h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

h1 {
  font-size: 2.615384615384615em;
  /*34px/13px*/
}

h2 {
  font-size: 1.846153846153846em;
  /*24px/13px*/
  margin-bottom: 0.583333333333333em;
  /*14px/24px*/
}

h3 {
  font-size: 1.538461538461538em;
  /*20px/13px*/
  margin-bottom: 0.8em;
  /*16px/20px*/
}

h4 {
  font-size: 1.076923076923077em;
  /*14px/13px*/
  margin-bottom: 0.785714285714286em;
  /*11px/14px*/
  font-weight: bold;
}

p {
  font-size: 1em;
  /*13px/13px*/
  margin-bottom: 0.769230769230769em;
  /*10px/13px*/
}

#header-inner, #content, #footer-inner {
  max-width: 960px;
  /*let's make this layout flexible*/
  margin: 0 auto;
  padding: 0 10px;
  /*some padding when the viewport gets small*/
}

#main {
  width: 67.7083333333333%;
  /*650px/960px*/
  float: left;
}

#sidebar {
  width: 31.25%;
  /*300px/960px*/
  float: right;
}

#header-wrapper {
  background: #2f4f78;
  padding: 16px 0 12px;
}
#header-wrapper #header-inner {
  *zoom: 1;
}
#header-wrapper #header-inner:after {
  content: "";
  display: table;
  clear: both;
}
#header-wrapper #header-inner h1 {
  color: white;
  float: left;
}
#header-wrapper #header-inner #main-nav {
  list-style: none;
  float: right;
  text-align: right;
  margin: 20px 0.615384615384615em 0 0;
  /*8px/13px*/
}
#header-wrapper #header-inner #main-nav li {
  display: inline;
  margin-right: 0.307692307692308em;
  /*4px/13px*/
}
#header-wrapper #header-inner #main-nav li a {
  font-size: 1em;
  /*13px/13px*/
  color: white;
  text-decoration: none;
  background: #15355d;
  padding: 7px 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
#header-wrapper #header-inner #main-nav li a:hover, #header-wrapper #header-inner #main-nav li a.current {
  background: #5578a4;
}
#header-wrapper #header-inner #main-nav li:last-child {
  margin-right: 0;
}

#content-wrapper {
  background: #f0f4f9;
  padding: 52px 0 79px;
}
#content-wrapper #content {
  *zoom: 1;
}
#content-wrapper #content:after {
  content: "";
  display: table;
  clear: both;
}
#content-wrapper #content #intro {
  margin-bottom: 36px;
}
#content-wrapper #content .service {
  margin-bottom: 18px;
}
#content-wrapper #content .service .service-description {
  padding-left: 6.1538461538462%;
  /*40px/650px*/
}
#content-wrapper #content #sidebar .callout {
  background: #e2ecfa;
  padding: 6.6666666666667%;
  /*20px/300px*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}
#content-wrapper #content #sidebar .callout h4 {
  font-size: 1.230769230769231em;
  /*16px/13px*/
  font-weight: normal;
}
#content-wrapper #content #sidebar .newsletter-signup {
  margin-top: 28px;
}
#content-wrapper #content #sidebar .newsletter-signup fieldset {
  border: 1px solid #cccccc;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding: 4.3333333333333%;
  /*13px/300px*/
}
#content-wrapper #content #sidebar .newsletter-signup fieldset legend {
  font-size: 1.153846153846154em;
  /*15px/13px*/
  font-weight: bold;
  margin-left: 2.3333333333333%;
  /*7px/300px*/
  padding: 0 2px;
}
#content-wrapper #content #sidebar .newsletter-signup fieldset input[type="text"], #content-wrapper #content #sidebar .newsletter-signup fieldset input[type="submit"] {
  width: 100%;
}
#content-wrapper #content #sidebar .newsletter-signup fieldset input[type="text"] {
  border: 1px solid #cccccc;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  font-size: 1em;
  padding: 8px 0;
}
#content-wrapper #content #sidebar .newsletter-signup fieldset input[type="submit"] {
  background: #466eb0;
  border: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  color: white;
  font: 1.230769230769231em Georgia, Times, "Times New Roman", serif;
  /*16px/13px*/
  padding: 12px 0;
  margin-top: 11px;
  cursor: pointer;
}
#content-wrapper #content #sidebar .newsletter-signup fieldset input[type="submit"]:hover {
  background: #37578c;
}

#footer-wrapper {
  color: #999999;
  border-top: 2px solid #d1dbe9;
  padding: 22px 0;
}
#footer-wrapper #footer-nav {
  list-style: none;
  float: right;
  text-align: right;
  width: 70%;
  margin-right: 1.923076923076923em;
  /*25px/13px*/
}
#footer-wrapper #footer-nav li {
  display: inline;
  margin-left: 2.769230769230769em;
  /*36px/13px*/
}
#footer-wrapper #footer-nav li a {
  text-decoration: none;
}
#footer-wrapper #footer-nav li a.current {
  color: #525252;
}
#footer-wrapper #copyright {
  font-size: 1.076923076923077em;
  /*14px/13px*/
}
